/*footer*/
footer {
    background-color: rgb(73, 72, 72);
    div {text-align: center;
        a {color: rgb(250, 249, 248);
            text-decoration: none;
            text-align-last: left;
        }
    }
    .navbar-nav {justify-content: center;
    }
    .footer-copyrigth{
        color: white !important;
    }
}
